asgiref==3.5.2
Django==4.1.4
psycopg2-binary==2.9.5
sqlparse==0.4.3
tzdata==2022.7
six==1.14.0
attrs==19.3.0
setuptools==40.8.0
Jinja2==2.11.3
urllib3==1.26.4
whitenoise==6.2.0


httplib2==0.20.2
html5lib==0.95
beautifulsoup4==4.10.0
blinker==1.4
colorama==0.4.4
compizconfig-python==0.9.14.1
configobj==5.0.6
dbus-python==1.2.18
distro==1.7.0
Django==4.1.4
django-admin==2.0.2
