<html>
{% extends "cseStud/base.html" %}
<head><title>Select Year</title></head>

{%load static%}
{% block content1 %}
{{block.super}}
<link rel="stylesheet" href="{%static '/depInfo/button.css'%}">
<body>
<h1 align="center">Select Year</h1> 
<div class="branch">
<table align="center">  
 
<tr><td><button><a href="year1/">1st Year</a></button></td></tr>
<tr><td><button><a href="year2">2nd Year</a></button></td></tr>
<tr><td><button><a href="year3">3rd Year</a></button></td></tr>
<tr><td><button><a href="year4">Final Year</a></button></td></tr>

<table>
</div>
{%endblock%}

</body>
</html>

