.branch button
{
    margin: 10px;
    box-sizing: content-box;
    border-style:hidden;
    
    padding: 20px 60px;
    border-radius:7px;

}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
td{
    padding: 10px 50px;
    text-align: justify;

}
button:hover
{
    transition:0.5s;
    background-color: rgb(14, 14, 204);
    color:red;
    cursor: pointer;
}

h1
{
    background-color: rgb(42, 42, 158);
    color: aliceblue;
}

.branch{
    background-image: url(clg.jpeg);
    opacity:0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}