legend {
    font-weight: bold;
    color: red;
    padding: 20px;
    font-size: 25px;
}

table {
    border: 1px solid black;
    width: 40%
}

td {
    font-weight: bold;
    padding: 7px;
}

.create_form {
    margin: 0px 0px 100px 0px;
    background-color: bisque;
    text-align: center;
}