<html>

<head></head>
<title>
PSR Collge Student Detail
</title>
<body>

{% block content1 %}

<div class="division" >
{% load static %}
<center>
<a href="/" target="_blank"><img   class="logo" src="{%static '/depInfo/psr.png'%}" alt="PSR Logo"></a>
<link rel="stylesheet" href="{%static '/depInfo/logo.css'%}">
</center>
 
<div class="foot">
<table border="1" align="center">
<tr>

<td><form action="{%url 'searchbar' %}" method="get">
    
    <input type="text" class="input" placeholder="Search Name" name="search" >
    <button type="submit" >Search</button> 

</form></form></td>
</tr>
</table>
</div>

{%endblock%}
</body>
<style>
    .input{
    width:15vw;
  
    
}
.division
{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.logo
{
    width:40vw !important;
    height:15vh !important;
}
::placeholder
{
    color : blue;
}




</style>
</html>
