
{% extends "depInfo/base.html" %}
<html>
<body>
{% block content1  %}
{{block.super}}
{%load static%}

<link rel="stylesheet" href="{%static '/depInfo/button.css'%}">
<div class="branch">
<h1 align="center">Departments</h1>

<table align="center">
<tr>

    <td><button><a href="cse/" >CSE</a></button></td> 
    <td><button><a href="ece/" >ECE</a></button></td> 
</tr>
<tr>
    <td><button><a href="eee/" >EEE</a></button></td>
    <td><button><a hreh="civil/" >Civil</a></button></td>
</tr>
<tr colspan="2">
    <td><button><a hreh="mech/" >Mech</a></button></td>

</tr>
</table>

<div>



{% endblock  %}
</body>
</html>
