
{% extends "depInfo/base.html" %}
<html>
<body>
{% block content1  %}
{{block.super}}
{%load static%}

<link rel="stylesheet" href="{%static '/depInfo/button.css'%}">
<div class="branch">
<h1 align="center">Departments</h1>

<table align="center">
<tr>

    <td><a href="cse/" ><button>CSE</button></a></td> 
    <td><a href="ece/" ><button>ECE</button></a></td> 
</tr>
<tr>
    <td><a href="eee/" ><button>EEE</button></a></td>
    <td><a href="civil/" ><button>Civil</button></a></td>
</tr>
<tr rowspan="2">
    <td><a href="mech/" ><button>MECH</button></a></td>

</tr>
</table>

<div>



{% endblock  %}
</body>
</html>
