<html>
{% extends "depInfo/base.html"%}
<head>
<title>1st Year</title>
</head>
{% load static %}
    <link rel="stylesheet" href="{%static '/depInfo/table.css'%}">
<body>
{% block content1 %}
{{block.super}}
<hr>
<div class="table" align="center">


<table border="1" align="center">
    <tr>
        <th>Reg No </th>
        <th>Name</th>
        <th>DOB</th>
        <th colspan="2"><th>
    
    </tr>
    {% if data %}
    {% for list in data%}
    <tr>
        <td>{{list.registerNo}}</td>
        <td>{{list.name}}</td>
        <td>{{list.DOB}}</td>
        <td><a href='update/{{list.id}}/'><button>Update</button></a></td>
        <td><a href='delete/{{list.id}}/'><button>Delete</button></a></td>
        <td><a  href='profile/{{list.id}}/'><button>View</button></a></td>

    </tr>

    {% endfor %}
    {% endif %}



</table>
<a href='create1/'><button>create</button></a>

</div>



{% endblock %}
</body>
</html>


