<html>
{% extends "depInfo/base.html"%}
<head>
<title>{{profile.name}}</title>
</head>
{% load static %}


<body align="center">
    {% block content1 %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/depInfo/profile.css' %}">

    <form method="POST">
        


    <center>
    <legend>Student Details</legend>
    <table>
        
            
        <tr>
            <td>Name :</td>
            <td><input type='text' value="{{profile.name}}" reqired></td>
        <tr>

        <tr>
            <td>Register Number : </td>
            <td><input type='number' value="{{profile.registerNo}}" reqired></td>
        <tr>

        <tr>
            <td>Roll No. : </td>
            <td><input type='text' value="{{profile.rollno}}" required></td>
        <tr>


        <tr>
            <td>Year : </td>
            <td><input type='number' value="{{profile.Year}}" required ></td>
        <tr>

        <tr>
            <td>Class : </td>
            <td><input type='text' value="{{profile.Class}}" required></td>
        <tr>
        <tr>
            <td>DoB : </td>
            <td><input type='text' value="{{profile.DOB}}" required placeholder="YYYY-MM-DD" ></td>
        <tr>
        <tr>
            <td>Place : </td>
            <td><input type='text' value="{{profile.Place}} "required ></td>
        <tr>

        <tr>
            <td>First Graduate : </td>
            <td><input type='text' value="{{profile.FirstGraduate}}" ></td>
        <tr>

        <tr>
            <td>Year Of Join : </td>
            <td><input type='number' value="{{profile.YearOfJoin}}" required></td>
        <tr>


        <tr>
            <td>Languages : </td>
            <td><input type='text' value="{{profile.Languages}}" required></td>
        <tr>

        <tr>
            <td>Father Name : </td>
            <td><input type='text' value="{{profile.FatherName}}" required></td>
        <tr>

        <tr>
            <td>Father Occupation : </td>
            <td><input type='text' value="{{profile.FathersOccupation}}" required></td>
        <tr>



        <tr>
            <td>Mother Name : </td>
            <td><input type='text' value="{{profile.MotherName}}" required></td>
        <tr>



        <tr>
            <td>Mother Occupation : </td>
            <td><input type='text' value="{{profile.MothersOccupation}}" required></td>
        <tr>





        <tr>
            <td>Fees : </td>
            <td><input type='number' value="{{profile.Fees}}" required></td>
        <tr>

        <tr>
            <td>Fees Pending : </td>
            <td><input type='text' value="{{profile.Pending}}" ></td>
        </tr>
        <tr rowspan="2" align="right">
            <td><input type="submit" value="Update"></td>
        </tr>
        

        
        {% csrf_token %}
    
</table></center>
{% csrf_token %}
</form>
{% endblock %}
</body>
</html>